{% extends "base.html" %}

{% block content %}
<h2>Courses</h2>
<div class="container mt-5">

  <!-- Search Form -->
  <form method="get" action="{% url 'reviews:course_list' %}" class="mb-3">
    <div class="input-group" id="search-bar">
        <input type="text" name="q" class="form-control" placeholder="Search courses..." value="{{ request.GET.q }}" style="width: 250px;">
        <div class="input-group-append">
            <button type="submit" class="btn" id="search-button" style="background-color: #001F3F; color: white; margin-right: 80px">Search</button>
        </div>
    </div>
  </form>

  <h3>100 Level Courses</h3>
  <div class="row">
    {% for course in level_100_courses %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ course.name }} ({{ course.code }})</h5>
            <p class="card-text">{{ course.description|truncatechars:100 }}</p>
            <a href="{% url 'reviews:course_detail' course.id %}" class="btn btn-primary">View Reviews</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <h3>200 Level Courses</h3>
  <div class="row">
    {% for course in level_200_courses %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ course.name }} ({{ course.code }})</h5>
            <p class="card-text">{{ course.description|truncatechars:100 }}</p>
            <a href="{% url 'reviews:course_detail' course.id %}" class="btn btn-primary">View Reviews</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <h3>300 Level Courses</h3>
  <div class="row">
    {% for course in level_300_courses %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ course.name }} ({{ course.code }})</h5>
            <p class="card-text">{{ course.description|truncatechars:100 }}</p>
            <a href="{% url 'reviews:course_detail' course.id %}" class="btn btn-primary">View Reviews</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

</div>
{% endblock %}
