{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h3 class="mb-0">Account Activated!</h3>
                </div>
                <div class="card-body">
                    <div class="alert alert-success">
                        <p>Congratulations! Your AUSee account has been successfully activated. 
                        You are now logged in and ready to explore course reviews or share your own experiences in our anonymous forum.</p>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <a href="/forum/" class="btn btn-primary mx-2">Go to Forum</a>
                        <a href="{% url 'reviews:course_list' %}" class="btn btn-primary mx-2">Browse Courses</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 